@import "src/theme/theme-variables";
@import "~@angular/material/theming";

:host {
  display: flex;
  flex: 1;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.main-box {
  height: fit-content;
  @include mat-elevation(0);
  /* background-color: rgba(162, 201, 226, 0.849); */
}

.main-container,
.mat-form-field {
  width: 100%;
}

.registration-error {
  color: mat-color($app-warn);
}

.profile-pic-preview {
  border: 2px solid #77f;
  background: aliceblue;
  width: 4em;
  height: 4em;
}

.drop-picture-content {
  color: rgba(0, 163, 230, 0.7);
  display: block;
  border-bottom: 2px dashed;
}

.profile-cropper {
  min-height: 20em;
  width: 90%;
  margin: auto;
  display: block;
  background: aliceblue;
  max-height: 37em;
}
.vertical-flip {
  transform: rotate(90deg);
}

.cropper-control {
  button {
    border: 1px solid #ccc;
  }
  button:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
