<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div class="main-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card *ngIf="step == 0" fxFlex="90%" fxFlex.sm="66%" fxFlex.md="35%" fxFlex.gt-md="33%" class="main-box">
      <pj-name-logo></pj-name-logo>
      <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
        <br />
        <div fxLayout="column">
          <mat-form-field>
            <span matPrefix>@</span>
            <input
              type="text"
              matInput
              formControlName="membername"
              autocomplete="membername"
              [placeholder]="'membername' | translate"
              (blur)="verifyMemberName()"
            />
            <mat-error *ngIf="mbrError == true || !registerForm.controls.membername.valid">
              <span *ngIf="!mbrError" translate>MEMBERNAME_REQUIRED</span>
              <span *ngIf="mbrError" translate>MEMBERNAME_EXIST</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="email"
              matInput
              formControlName="email"
              autocomplete="email"
              [placeholder]="'email' | translate"
              (blur)="verifyEmail()"
            />
            <mat-error
              *ngIf="
                (registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')) ||
                emailError.length > 0
              "
            >
              <span *ngIf="!emailError" translate>INVALID_EMAIL</span>
              <span *ngIf="emailError.length > 0" translate>{{ emailError }}</span>
            </mat-error>
            <mat-error
              *ngIf="!registerForm.controls.email.hasError('email') && registerForm.controls.email.hasError('required')"
            >
              <span *ngIf="!emailError" translate>EMAIL_REQUIRED</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              formControlName="password"
              autocomplete="new-password"
              [placeholder]="'password' | translate"
            />
            <mat-error *ngIf="registerForm.controls.password.hasError('required')">
              <span translate>PSWD_REQUIRED</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              formControlName="passwordRepeate"
              autocomplete="new-password"
              [placeholder]="'repeate password' | translate"
            />
            <mat-error *ngIf="!registerForm.controls.passwordRepeate.valid">
              <span *ngIf="registerForm.controls.passwordRepeate.hasError('required')" translate
                >PSWD_REAPEAT_REQUIRED</span
              >
              <span *ngIf="!registerForm.controls.passwordRepeate.hasError('required')" translate>PSWD_MISMATCH</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput formControlName="key" [placeholder]="'key' | translate" />
            <mat-hint translate>SECURITY_KEY_HINT</mat-hint>
            <mat-error *ngIf="!registerForm.controls.key.valid">
              <span translate>SECURITY_KEY_REQEUIRED</span>
            </mat-error>
          </mat-form-field>
          <br />
          <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>REGISTER</span>
          </button>
        </div>
      </form>
      <mat-card-actions>
        <button color="primary" [routerLink]="['/login']" queryParamsHandling="preserve" mat-button>
          <span translate>LOGIN</span>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card
      *ngIf="step == 1"
      pjDropZone
      (filesDropped)="drop($event)"
      fxFlex="90%"
      fxFlex.sm="66%"
      fxFlex.md="50%"
      fxFlex.gt-md="35%"
      class="main-box"
    >
      <pj-name-logo></pj-name-logo>
      <mat-card-header style="margin-bottom: 10px;">
        <!-- <div mat-card-avatar class="profile-pic-preview"> -->
        <img class="profile-pic-preview" start mat-card-avatar src="{{croppedImage || defaultAvatar}}" />
        <!-- </div> -->
        <mat-card-title>{{ profilePreview.membername }}</mat-card-title>
        <mat-card-subtitle>{{ profilePreview.email }}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="!showCropper" class="profile-cropper" mat-card-image src="{{loadedFileUrl}}" alt="" />
      <image-cropper
        class="profile-cropper"
        [imageChangedEvent]="imageChangedEvent"
        [imageBase64]="loadedFileUrl"
        [maintainAspectRatio]="true"
        [aspectRatio]="cropperConfig.aspectRatio"
        [resizeToWidth]="cropperConfig.resizeToWidth"
        [cropperMinWidth]="cropperConfig.cropperMinWidth"
        [onlyScaleDown]="true"
        [roundCropper]="true"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        [style.display]="showCropper ? null : 'none'"
      ></image-cropper>
      <mat-card-content>
        <div
          *ngIf="showCropper"
          class="cropper-control"
          [style.marginTop]="'5px'"
          fxFill
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap=".2rem"
        >
          <button mat-icon-button (click)="rotateLeft()"><mat-icon>rotate_left</mat-icon></button>
          <button mat-icon-button (click)="rotateRight()"><mat-icon>rotate_right</mat-icon></button>
          <button mat-icon-button (click)="flipHorizontal()"><mat-icon>flip</mat-icon></button>
          <button mat-icon-button (click)="flipVertical()"><mat-icon class="vertical-flip">flip</mat-icon></button>
        </div>
        <h3 class="drop-picture-content" translate>Dorp a picture here.</h3>
      </mat-card-content>
      <mat-card-actions>
        <input type="file" style="display: none;" (change)="selectFile($event)" #fileInput />
        <button (click)="fileInput.click()" color="primary" mat-button><span translate>Pick Image</span></button>
        <button (click)="upload()" color="primary" mat-button><span translate>Save</span></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
